# Exclude everything
**

# Include README.md, CHANGELOG.md, LICENSE and NOTICE
!README.md
!CHANGELOG.md
!LICENSE
!NOTICE
!PRIVACY.md

# Include package.json
!package.json
!package.nls.*

# Include the built extension
!dist/**/!(*.map)

# Include the built webview
!webview-ui/audio
!webview-ui/build/assets/*.js
!webview-ui/build/assets/*.ttf
!webview-ui/build/assets/*.css
!webview-ui/build/assets/fonts/*.woff
!webview-ui/build/assets/fonts/*.woff2
!webview-ui/build/assets/fonts/*.ttf

# Include default themes JSON files used in getTheme
!integrations/theme/default-themes/**

# Include icons and images
!assets/codicons/**
!assets/vscode-material-icons/**
!assets/icons/**
!assets/images/**

# Source maps are only needed for development and significantly increase the VSIX size.
**/*.map
